development:
  size_whitelist:
    - w300
    - h150
    - m600
    - w100h100
    - relative

  source_folder: ./test-data/src

test:
  size_whitelist:
    - w300
    - h150
    - m600
    - w100h100
    - relative

  source_folder: ./test-data/src
