format_whitelist:
  - w100h100  # Example cropped thumbnail
  - h125      # At a glance thumbnails
  - w250      # Figure index page thumbnails
  - w450      # At a glance popups
  - w926      # Full size figures
  - m685      # Article figures
  - rel       # Illustrations

source_folder: ./test-data/src
